@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 1600px;
    background: rgb(245, 245, 245);
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
}
main{
    width: 1280px;
    position: relative;
    left: 0%;
    top: 0%;
    margin: auto;
}

.color1{
    color:#006A50 ;
}
.color2{
    background-color:#09A15C ;
}
.color3{
    background-color: #C6E4D6;
}
.color4{
    background-color:#5490F5 ;
}
.color5{
    background-color:#F7EBCF ;
}
.color6{
    background-color:#FFC239; 
}
.color7{
    background: rgba(84, 144, 245, 0.2);
}
.primary-button{
font-size: 18px;
font-weight: 600;
text-align: left;
border-radius: 8px;
border: none;
}
.primary-button:hover{
    transition: all .5s ease;
    background-color: #09A15C;
}
.section-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin: 24px 0px;
}
.section-description{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.center-align{
    text-align: center;
}

.header{
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    width: 232px;
}
.logo p{
    font-size: 32px;
    text-align: left;
}
.nav-button{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
}
.nav-button:hover{
    color: #F7EBCF;
    background-color: #09A15C;
}


.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    background: rgba(198, 228, 214, 1.000);
    margin: 80px 0px;
    padding: 80px 100px;
}

.hero-subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.hero-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    line-height: 67px;
    text-align: left;
    margin: 16px 0px;
}

.hero-button {
    background-color: #006A50;
    padding: 17px 34px;
    color: #F7EBCF;
    border: none;
}

.pillars-section {
    width: auto;
    height: 324px;
    margin: 80px 0;
}

.pillars-cards-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.pillar-card-item {
    width: 302px;
    height: 244px;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.pillar-card-title {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.pillar-card-description {
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.vision-cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32;
    margin: 80px 0px;
}
.vision-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
}
.vision-card img{
    width: 49px;
}
.vision-card-title{
    padding: 0px;
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.vision-card-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
    padding: 0px;
}

.vision-cbtn{
    padding: 11px 20px 11px 20px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align:left;
    margin: 10px 0px;
}


.quote-section {
    padding-bottom: 50px;
}

.quote-content h3 {
    color: rgba(14, 14, 14, 0.8);
}

.quote-content {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px 48px 24px;
    background: rgb(255, 255, 255);
}

.quote-description {
    margin-top: -50px;
}

.opinion-section {
    padding-bottom: 50px;
}

.opinion-content {
    padding: 32px;
    margin: 24px 0px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

table {
    width: 1220px;
    box-sizing: border-box;
    border-left: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}

table th, td {
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    margin: 0px 12px;
    padding: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-right: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
}

#opinion-select {
    width: 152px;
    color: rgb(14, 14, 14);
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgba(9, 161, 92, 0.15);
}


.newsdiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    margin: 24px 0px;
}
.news-img img{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.news-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12px 0px;
}
.al-jazeera{
    width: 134px;
    height: 40px;
    margin: 12px 0px;
    display: block;
}
.news-date{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}
.news-description{
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.news-button{
    padding: 13px 26px 13px 26px;
    margin: 32px 0;
    color: #F7EBCF;
    background-color: #006A50;
}
.news-reverse{
    flex-direction: row-reverse;
}


.donation{
    width: 1100px;
    margin: 0 auto;
    padding: 40px 0;
}
.donation-buttons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.donation .section-heading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.active-bg{
    background-color: #C6E4D6 !important;
}
.donation-btn{
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    font-weight: 700;
    text-align: left;
    margin: 12px 0px;
}
.donation-input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    text-align: center;
    margin-top: 34px;
    border: none;
    font-size: 23px;
    padding: 20px 40px 20px 40px;
    outline: none;
}
.donation-final-btn{
    text-align: center;
    color: #F7EBCF;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    margin: 32px 0px;
}
.input-section{
    text-align: center;
}